<div class="content-container" ng-controller="EditPaymentChannelController">
        <ul class="breadcrumb">
            <li><a href="#/organization">{{'label.anchor.organization' | translate}}</a>
            </li>
            <li><a href="#/paymentchannels">{{'label.anchor.paymentchannels' | translate}}</a></li>
            <li class="active">{{'label.anchor.editchannel' | translate}} </li>
        </ul>
        <div class="card">
            <div class="content">
            <form name="createpaymentchannel" novalidate="" class="form-horizontal"
                rc-submit="submit()">
                    <api-validate></api-validate>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="name">{{'label.heading.channelname' | translate}}</label>
                            <div class="col-sm-3">
                                <input type="text" id="channelName" name="channelName" ng-model="formData.channelName" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >{{'label.heading.channelendpoint' | translate}}</label>
    
                            <div class="col-sm-3">
                                <input id="channelBrokerEndpoint" name="channelBrokerEndpoint" ng-model="formData.channelBrokerEndpoint"
                                          type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="paymentTypeId">{{ 'label.input.paymenttype' |
                                translate}}</label>
    
                            <div class="col-sm-3">
                                <select id="paymentTypeId" ng-model="formData.paymentTypeId" class="form-control"
                                        ng-options="paymentType.id as paymentType.name for paymentType in paymentTypes"
                                        value="{{paymentType.id}}"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >{{'label.heading.requestqueue' | translate}}</label>
    
                            <div class="col-sm-3">
                                <input type="text" id="requestQueue" name="requestQueue" ng-model="formData.requestQueue" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" >{{'label.heading.responsequeue' | translate}}</label>
    
                            <div class="col-sm-3">
                                <input type="text" id="responseQueue" name="responseQueue" ng-model="formData.responseQueue" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-md-offset-2 paddedleft">
                            <a id="cancel" href="#/paymentchannels" class="btn btn-default">{{'label.button.cancel' | translate}}</a>
                            <button id="save" type="submit" class="btn btn-primary">{{'label.button.save' | translate}}</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    